/* #########################################################################
   ######                     CLASS CONTACT                           ######
   ######################################################################### */
#contact {
    min-height: 96vh;
}

.contact-form {
    border: 1px solid #5cffee;
    background: #272b30;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.7);
}

input,
textarea {
    background: none;
    font-size: 1.6rem;
    border-bottom: 1px solid#cec950;
    color: #5cffee;
}

input::placeholder,
textarea::placeholder {
    color: rgb(190, 188, 188);
}

input,
.email-content,
textarea {
    width: 83%;
    margin: 0.2rem auto;
}

.email-content {
    position: relative;
}

#not-mail {
    display: none;
    position: absolute;
    top: 20px;
    right: 200px;
    font-size: 1.5rem;
    color: #ff4d4d;
    transform-origin: 50% 50%;
}

@keyframes dongle {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    60% {
        transform: translate(10px, 0px);
    }
    70% {
        transform: translate(-10px, 0px);
    }
    80% {
        transform: translate(10px, 0px);
    }
    90% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

textarea {
    resize: none;
}

.button {
    font-size: 2rem;
    color: #cec950;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button:hover {
    letter-spacing: 2px;
}

.error::placeholder {
    color: #ff4d4d;
}

.form-message {
    font-size: 1.5rem;
    opacity: 0;
    transition: 0.2s ease;
    color: #ff4d4d;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(51, 51, 51, 0.3);
}
