/* #########################################################################
   ######                     GENERAL CLASS APP                       ######
   ######################################################################### */
   .bgColor-1 {
    background-color: #1c1e22;
}

.bgColor-2 {
    background-color: #5cffee;
}

.bgColor-3 {
    background-color: #272b30;
}

.bgColor-4 {
    background-color: #3e4349;
}

.color-1 {
    color: #1c1e22;
}

.color-2 {
    color: #5cffee;
}

.color-3 {
    color: #272b30;
}

.color-4 {
    color: #3e4349;
}
